[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sequoia"]
	path = sequoia
	url = https://github.com/jiscah/sequoia
	shallow = true
	registered = true
